{% liquid
    assign blog_style = section.settings.blog_style
    assign btn_style = section.settings.btn_style
%}

<article class="overflow-hidden rounded shadow col">
    <div class="article-wrapper rounded overflow-hidden h-100" style="background-color: var(--bs-body-bg-darken-3);">
        {%- if article.image -%}
            <a href="{{ article.url }}">
            <div class="article-featured-image mb-5">
            <div class="{{ section.settings.aspect_ratio }} overflow-hidden rounded position-relative">
                <img
                srcset="
                    {% if article.image.width >= 350 %}{{ article.image | image_url: width: 350 }} 350w,{% endif %}
                    {% if article.image.width >= 750 %}{{ article.image | image_url: width: 750 }} 750w,{% endif %}
                    {% if article.image.width >= 1100 %}{{ article.image | image_url: width: 1100 }} 1100w,{% endif %}
                    {% if article.image.width >= 1500 %}{{ article.image | image_url: width: 1500 }} 1500w,{% endif %}
                    {% if article.image.width >= 2200 %}{{ article.image | image_url: width: 2200 }} 2200w,{% endif %}
                    {% if article.image.width >= 3000 %}{{ article.image | image_url: width: 3000 }} 3000w,{% endif %}
                    {{ article.image | image_url }} {{ article.image.width }}w
                "
                sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 }}px, (min-width: 750px) calc(100vw - 10rem), 100vw"
                src="{{ article.image | image_url: width: article.image.width }}"
                loading="lazy"
                fetchpriority="low"
                width="{{ article.image.width }}"
                height="{{ article.image.height }}"
                alt="{{ article.image.alt | escape }}"
                class="img-fluid zoom-on-hover{% unless section.settings.aspect_ratio == 'adapt' %} w-100{% endunless %}"
                >
                    <div class="article-tags d-flex gap-4 overflow-x-visible col-8 position-absolute" style="top: 3%; left: 3%;">
                        {% for tag in article.tags %}
                            <span class="article-tag rounded bg-dark fit-content text-white btn align-content-center py-3 px-8">
                                {{ tag }}
                            </span>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </a>
        {%- endif -%}
        <div class="article-card-content px-4 py-6 d-flex flex-column gap-{{ settings.blog_card_gap }}">
            <div class="article-information d-flex justify-content-between">
                    {%- assign metafield_parts = 'author.author_image' |  split: '.' -%}
                    {%- assign namespace = metafield_parts[0] -%}
                    {%- assign key = metafield_parts[1] -%}
                    {%- assign author_image_metafield = article.metafields[namespace][key].value -%}
                    <div>
                        {% if author_image_metafield %}
                        <img src="{{ author_image_metafield | image_url: width: author_image_metafield.width }}" alt="Author Image" class="img-fluid article-card-author-img"
                        style="width: 30px; height: 30px; object-fit:cover;">
                        {% endif %}
                        <span class="caption-with-letter-spacing">
                        By: <span class="text-decoration-underline">{{ article.author }}</span>
                        </span>
                    </div>
                <span class="article-date text-end align-content-center muted">{{ article.published_at | time_tag: format: 'date' }}</span>
            </div>
            <div class="article-title">
                    <h3 class="article-template-title fs-lg-5">
                        {{ article.title | escape | link_to: article.url }}
                    </h3>
            </div>
            {% assign hide_on = section.settings.hide_excerpt_on %}
            <p class="m-0 muted fs-lg-4
                {% if hide_on == 'desktop' %}
                d-lg-none d-block
                {% elsif hide_on == 'mobile' %}
                d-lg-none
                {% elsif hide_on == 'all' %}
                d-none
                {% endif %}
            ">
                {{ article.excerpt_or_content | truncate: 100 | strip_html }}
            </p>
            
        </div>
    </div>
</article>