{% unless request.page_type == 'cart' %}
<div class="offcanvas offcanvas-end{% if cart == empty %} is-empty{% endif %} color-{{ settings.cart_color_scheme }} rounded" tabindex="-1" id="CartDrawer" data-bs-backdrop="true" aria-labelledby="CartDrawerLabel">
  <div class="offcanvas-header">
    <h2 id="CartDrawerLabel" class="offcanvas-title">{{ 'sections.cart.title' | t }}</h2>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="{{ 'accessibility.close' | t }}"></button>
  </div>
  
  <div class="offcanvas-body d-flex flex-column">
    {% render 'cart-goal' %}
    {%- if cart == empty -%}
      <div class="text-center flex-grow-1">
        <h2 class="cart__empty-text">{{ 'sections.cart.empty' | t }}</h2>
        <a href="{{ routes.all_products_collection_url }}" class="btn btn-primary mt-3">{{ 'general.continue_shopping' | t }}</a>
        {%- if shop.customer_accounts_enabled and customer == null -%}
          <p class="cart__login-title h3 mt-4">{{ 'sections.cart.login.title' | t }}</p>
          <p class="cart__login-paragraph">
            {{ 'sections.cart.login.paragraph_html' | t: link: routes.account_login_url }}
          </p>
        {%- endif -%}
      </div>
    {%- else -%}
      <!-- Scrollable product container -->
      <div class="list-group flex-grow-1 overflow-y-auto">
        {%- for line_item in cart.items -%}
          <div class="list-group-item d-flex gap-4 align-items-start">
            <div class="me-3 {% if settings.stretch_card_product_image %}h-100{% endif %}">
              {% if line_item.image %}
                <a href="{{ line_item.url }}">
                  <img src="{{ line_item.image | image_url: width: 100 }}" class="img-fluid rounded {% if settings.stretch_card_product_image %}h-100 object-fit-cover{% endif %}" alt="{{ line_item.image.alt | escape }}" width="100" height="{{ 100 | divided_by: line_item.image.aspect_ratio | ceil }}">
                </a>
              {% endif %}
            </div>
            <div class="flex-grow-1 d-flex flex-column gap-2 small">
              <a href="{{ line_item.url }}" class="h4 d-block mb-1">{{ line_item.product.title | escape }}</a>
              {% unless line_item.product.has_only_default_variant %}
                <small class="muted">{{ line_item.variant.title }}</small>
              {% endunless %}              
              {%- if line_item.original_price != line_item.final_price -%}
                <div>
                  <span class="text-danger text-decoration-line-through">{{ line_item.original_price | money }}</span>
                  <span class="ms-2">{{ line_item.final_price | money }}</span>
                </div>
              {%- else -%}
                <div>{{ line_item.original_price | money }}</div>
              {%- endif -%}
              <div class="mt-2">
                <ul
                  class="discounts list-unstyled mb-0"
                  role="list"
                  aria-label="{{ 'customer.order.discount' | t }}"
                >
                  {%- for discount in line_item.line_level_discount_allocations -%}
                    <li class="d-flex gap-3 align-items-center">
                      {%- render 'icon-discount' -%}
                      {{ discount.discount_application.title }}
                    </li>
                  {%- endfor -%}
                </ul>
              </div>
              <div class="mt-2">
                {% render 'quantity-selector', line_item_key: line_item.key, line_item_quantity: line_item.quantity, line_item_title : line_item.title %}
              </div>
            </div>
              <button type="button" class="btn p-0" aria-label="{{ 'sections.cart.remove_title' | t: title: line_item.title | escape }}" data-variant-id="{{ line_item.variant.id }}">
                <svg
                class="text-primary"
                xmlns="http://www.w3.org/2000/svg"
                width="19"
                height="19"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <polyline points="3 6 5 6 21 6"></polyline>
                <path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path>
                <line x1="10" y1="11" x2="10" y2="17"></line>
                <line x1="14" y1="11" x2="14" y2="17"></line>
              </svg>              
              </button>
          </div>
        {%- endfor -%}
      </div>
      
      <div class="mt-4 overflow-x-hidden">
        <hr>
        {%- if cart.cart_level_discount_applications.size > 0 -%}
          <ul class="list-unstyled">
            {%- for discount in cart.cart_level_discount_applications -%}
              <li>
                {%- render 'icon-discount' -%} {{ discount.title | escape }} (-{{ discount.total_allocated_amount | money }})
              </li>
            {%- endfor -%}
          </ul>
        {%- endif -%}
        <div class="d-flex justify-content-between align-items-center">
          <h4 class="mb-0">{{ 'sections.cart.estimated_total' | t }}</h4>
          <b class="fs-lg-7 fs-6">{{ cart.total_price | money_with_currency }}</b>
        </div>
        <small class="muted d-block">
          {%- if cart.duties_included and cart.taxes_included -%}
            {%- if shop.shipping_policy.body == blank -%}
              {{ 'sections.cart.duties_and_taxes_included_shipping_at_checkout_without_policy' | t }}
            {%- else -%}
              {{ 'sections.cart.duties_and_taxes_included_shipping_at_checkout_with_policy_html' | t: link: shop.shipping_policy.url }}
            {%- endif -%}
          {%- elsif cart.duties_included == false and cart.taxes_included -%}
            {%- if shop.shipping_policy.body == blank -%}
              {{ 'sections.cart.taxes_included_shipping_at_checkout_without_policy' | t }}
            {%- else -%}
              {{ 'sections.cart.taxes_included_shipping_at_checkout_with_policy_html' | t: link: shop.shipping_policy.url }}
            {%- endif -%}
          {%- elsif cart.duties_included and cart.taxes_included == false -%}
            {%- if shop.shipping_policy.body == blank -%}
              {{ 'sections.cart.duties_included_taxes_at_checkout_shipping_at_checkout_without_policy' | t }}
            {%- else -%}
              {{ 'sections.cart.duties_included_taxes_at_checkout_shipping_at_checkout_with_policy_html' | t: link: shop.shipping_policy.url }}
            {%- endif -%}
          {%- elsif cart.duties_included == false and cart.taxes_included == false -%}
            {%- if shop.shipping_policy.body == blank -%}
              {{ 'sections.cart.taxes_at_checkout_shipping_at_checkout_without_policy' | t }}
            {%- else -%}
              {{ 'sections.cart.taxes_at_checkout_shipping_at_checkout_with_policy_html' | t: link: shop.shipping_policy.url }}
            {%- endif -%}
          {%- endif -%}
        </small>
        <form action="{{ routes.cart_url }}" class="mt-8 d-flex flex-lg-row flex-column gap-5" method="POST">
          <button
            class="btn-checkout btn btn-primary btn-lg py-6 fs-6 d-flex align-items-center justify-content-center col-lg-8"
            name="checkout"
            type="submit"
            onclick="onClickCheckoutBtn(this)"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="me-3"
              width="18"
              height="18"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <rect x="3" y="11" width="18" height="11" rx="2" ry="2"></rect><path d="M7 11V7a5 5 0 0 1 10 0v4"></path>
            </svg>
            Proceed to checkout
          </button>
          <a href="{{ routes.cart_url }}" class="btn btn-outline-primary btn-lg py-6 fs-6 col">
            <span>View cart</span>
          </a>
        </form>
      </div>
    {%- endif -%}
  </div>
</div>

  {% endunless %}