{% liquid
  assign hover_state = false
  if product.images.size > 1 and settings.second_on_hover
    assign hover_state = true
  endif
  
  if hover_state
    assign classes = 'img-fluid primary-image'
  else 
    assign classes = 'img-fluid zoom-on-hover'
  endif
%}
<div class="product-card enter-view rounded {% if hover_state %}has-more-than-one{% endif %} {{ settings.product_card_shadow }}">
    <div class="product-wrapper overflow-hidden p-0 rounded {% if settings.show_border %}border border-1 border-primary{% endif %} {% unless section.settings.animation == '' %}animate__animated opacity-0 {{ section.settings.animation_speed }}{% endunless %}"
    data-animate-class="{{ section.settings.animation }}" style="animation-delay: {{ index | times: 15 }}ms;">
        <div class="product-media {% if hover_state %}secondary-on-hover{% endif %} overflow-hidden position-relative border-bottom border-1">
            {{- product.featured_image | image_url: width: product.featured_image.width | image_tag: loading: 'lazy', fetchpriority: 'low', sizes: sizes, widths: '300,400,500,600,700,800,900,1000,1200,1400,1600,1800,2000,2200,2400,2600,2800,3000,3200', class: classes -}}
            {% if hover_state %}
                {{- product.images[1] | image_url: width: product.featured_image.width | image_tag: loading: 'lazy', fetchpriority: 'low', sizes: sizes, widths: '300,400,500,600,700,800,900,1000,1200,1400,1600,1800,2000,2200,2400,2600,2800,3000,3200', class: 'img-fluid secondary-image' -}}
            {% endif %}
            {% if settings.show_product_badges %}           
                <div class="product-badges position-absolute top-0 start-0"></div>
            {% endif %}
            {% if settings.show_quick_view or settings.show_wishlist %}
                <div class="product-actions position-absolute top-0 end-0"></div>            
            {% endif %}
            {% if settings.show_view_button %}  
                <div class="product-view-button position-absolute end-0 bottom-0">
                    <a href="{{ product.url }}">
                        <div class="view-more-wrapper bg-secondary p-3">
                            <svg class="view-more-button" xmlns="http://www.w3.org/2000/svg" width="24" height="16" viewBox="0 0 24 16" fill="none">
                            <path d="M23.7071 8.70711C24.0976 8.31658 24.0976 7.68342 23.7071 7.29289L17.3431 0.928932C16.9526 0.538408 16.3195 0.538408 15.9289 0.928932C15.5384 1.31946 15.5384 1.95262 15.9289 2.34315L21.5858 8L15.9289 13.6569C15.5384 14.0474 15.5384 14.6805 15.9289 15.0711C16.3195 15.4616 16.9526 15.4616 17.3431 15.0711L23.7071 8.70711ZM0 9H23V7H0V9Z" fill="var(--bs-primary)" fill-opacity="0.6"/>
                            </svg>
                        </div>
                    </a>
                </div>
            {% endif %}
        </div>
        <div class="product-content p-6 d-flex flex-column gap-5">
            {% render 'product-vendor', product: product %}
            <a href="{{ product.url }}" class="product-url">
                <h4 class="product-title fs-lg-7 fs-5" {{ block.shopify_attributes }}>
                    {{ product.title }}
                </h4>
            </a>
            {% render 'product-price', product: product %}
            <form method="post" action="/cart/add" enctype="multipart/form-data">
            <input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}">
            <button type="submit" class="btn btn-primary w-100">Add to Cart</button>
        </form>
        </div>
    </div>
</div>