{%- liquid
  assign social_icons = true
  if settings.social_facebook_link == blank and settings.social_instagram_link == blank and settings.social_youtube_link == blank and settings.social_tiktok_link == blank and settings.social_twitter_link == blank and settings.social_pinterest_link == blank and settings.social_snapchat_link == blank and settings.social_tumblr_link == blank and settings.social_vimeo_link == blank
    assign social_icons = false
  endif
  if section.settings.enable_country_selector or section.settings.enable_language_selector
    assign language_country_selector = true
  endif
  if section.blocks.size > 0
    assign announcement_bar = true
  endif
  assign color_scheme_class = 'color-' | append: section.settings.color_scheme
  assign pt = section.settings.pt | prepend: 'pt-'
  assign pb = section.settings.pb | prepend: 'pb-'

-%}
  
<section class="announcement-bar {{ color_scheme_class }} {% if section.settings.visibility == 'd-block' %}d-flex {% else %} {{ section.settings.visibility }} {% endif %}
    {% if customer and section.settings.showTo == 'guest' %}d-none{% elsif section.settings.showTo == 'customer' %} {% unless customer %}d-none{% endunless %}{% endif %}" 
    id="announcement-bar-{{ section.id }}" >
    <div class="container-fluid">
      <div class="d-flex justify-content-center {{ pt }} {{ pb }}">
        {% for block in section.blocks %}
          {% if block.settings.link != blank %}
            <a href="{{ block.settings.link }}">
          {% endif %}
          <span class="announcement-item px-4 {% unless forloop.last %}border-end border-2{% endunless %}"><p class="m-0">{{ block.settings.text }}</p></span>
          {% if block.settings.link != blank %}
            </a>
          {% endif %}
        {% endfor %}
      </div>
    </div>
</section>
  
  {% if section.blocks.size > 0 %}
    <style>
      .announcement-item {
        font-weight: bold;
      }
  
      .divider {
        font-weight: bold;
        padding: 0 10px;
      }
  
      @media (max-width: 768px) {
        .announcement-item, .divider {
          font-size: 12px;
        }
      }
    </style>
  {% endif %}
  

{% schema %}
{
  "name": "t:sections.announcement-bar.name",
  "max_blocks": 12,
  "class": "announcement-bar-section",
  "enabled_on": {
    "groups": ["header"]
  },
  "settings": [
        {
            "type": "header",
            "content": "General Settings"
        },
        {
        "type": "select",
        "label": "Visibile on",
        "id": "visibility",
        "default": "d-flex",
        "options": [
          {
            "value": "d-flex",
            "label": "All screen sizes"
          },
          {
            "value": "d-sm-none d-lg-flex",
            "label": "On desktop only"
          },
          {
            "value": "d-lg-none d-sm-flex",
            "label": "On mobile only"
          }
        ]
      },
      {
        "type": "select",
        "label": "Visibile to",
        "id": "showTo",
        "default": "everyone",
        "info": "If you're not logged in within the customizer and you've chosen display to customers, it will not show within customizer.",
        "options": [
          {
            "label": "Logged in",
            "value": "customer"
          },
          {
            "label": "Guests only",
            "value": "guest"
          },
          {
            "label": "Everyone",
            "value": "everyone"
          }
        ]

      },
      {
      "type": "color_scheme",
      "label": "Color scheme",
      "id": "color_scheme"
    },
    {
      "type": "checkbox",
      "id": "show_line_separator",
      "default": true,
      "label": "t:sections.header.settings.show_line_separator.label"
    },
    {
      "type": "header",
      "content": "t:sections.announcement-bar.settings.header__1.content",
      "info": "t:sections.announcement-bar.settings.header__1.info"
    },
    {
      "type": "checkbox",
      "id": "show_social",
      "default": false,
      "label": "t:sections.announcement-bar.settings.show_social.label"
    },
    {
      "type": "header",
      "content": "t:sections.announcement-bar.settings.header__2.content"
    },
    {
      "type": "checkbox",
      "id": "auto_rotate",
      "label": "t:sections.announcement-bar.settings.auto_rotate.label",
      "default": false
    },
    {
      "type": "range",
      "id": "change_slides_speed",
      "min": 3,
      "max": 10,
      "step": 1,
      "unit": "s",
      "label": "t:sections.announcement-bar.settings.change_slides_speed.label",
      "default": 5
    },
    {
      "type": "header",
      "content": "t:sections.announcement-bar.settings.header__3.content",
      "info": "t:sections.announcement-bar.settings.header__3.info"
    },
    {
      "type": "checkbox",
      "id": "enable_country_selector",
      "default": false,
      "label": "t:sections.announcement-bar.settings.enable_country_selector.label"
    },
    {
      "type": "header",
      "content": "t:sections.announcement-bar.settings.header__4.content",
      "info": "t:sections.announcement-bar.settings.header__4.info"
    },
    {
      "type": "checkbox",
      "id": "enable_language_selector",
      "default": false,
      "label": "t:sections.announcement-bar.settings.enable_language_selector.label"
    },
    {
      "type": "header",
      "content": "Spacing"
    },
    {
      "type": "range",
      "id": "pt",
      "label": "Padding Top",
      "min": 0,
      "max": 20,
      "step": 1,
      "default": 3
    },
    {
      "type": "range",
      "id": "pb",
      "label": "Padding Bottom",
      "min": 0,
      "max": 20,
      "step": 1,
      "default": 3
    }
  ],
  "blocks": [
    {
      "type": "announcement",
      "name": "t:sections.announcement-bar.blocks.announcement.name",
      "settings": [
        {
          "type": "text",
          "id": "text",
          "default": "Welcome to our store",
          "label": "t:sections.announcement-bar.blocks.announcement.settings.text.label"
        },
        {
          "type": "url",
          "id": "link",
          "label": "t:sections.announcement-bar.blocks.announcement.settings.link.label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.announcement-bar.presets.name",
      "blocks": [
        {
          "type": "announcement"
        }
      ]
    }
  ]
}
{% endschema %}
