{% liquid
  assign pt = section.settings.pt | prepend: 'pt-'
  assign pb = section.settings.pb | prepend: 'pb-'
  assign mt = section.settings.mt | prepend: 'mt-'
  assign mb = section.settings.mb | prepend: 'mb-'

  assign color_scheme_class = 'color-' | append: section.settings.color_scheme  

%}

<style>
  .table-borderless th {
  border-bottom: 1px solid var(--bs-body-bg-lighten-10); 
  font-weight: normal;
}

.table-borderless td {
  vertical-align: middle;
}

.quantity-control input{
  border-radius: calc(var(--bs-border-radius) - .8rem);
}

#cart-table td {
  padding-top: 2rem;
}

</style>

<div
  id="cart"
  class="{{ pt }} {{ pb }} {{ mt }} {{ mb }} {{ color_scheme_class }}"
>
  <div class="container">
    <div>
      {% if cart.item_count == 0 %}
        <div id="template-cart-empty" class="text-center">
          <h1 class=" {{ section.settings.title_size }}">
            {{ 'cart.title' | t }}
          </h1>
          <div class="mb-6">
            {{ 'cart.empty_html' | t }}
          </div>
        </div>
      {% else %}
        <div class="mb-10">
          <h1 class="mb-3">
            Shopping cart
          </h1>
        </div>
        <div class="row">
          <div class="col-lg-8">
            {% render 'cart-goal' %}
            <div class="table-responsive">
              <table id="cart-table" class="table table-borderless mb-6">
                <thead class="muted">
                  <tr>
                    <th scope="col">Product</th>
                    <th scope="col" class="text-center">Price</th>
                    <th scope="col" class="text-center">Quantity</th>
                    <th scope="col" class="text-center">Total</th>
                    <th scope="col" class="text-center">
                      <a href="#" class="text-body" onclick="clearCart()">Clear cart</a>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  {% for line_item in cart.items %}
                    <tr class="align-middle square">
                      <td class="d-flex align-items-center gap-5">
                        <a href="{{ line_item.url }}" title="{{ line_item.product.title }}">
                          <img
                            class="img-fluid rounded me-3"
                            src="{{ line_item.image | image_url: width: img_width, height: img_height, crop: 'center' }}"
                            alt="{{ line_item.image.alt | escape }}"
                            width="{{ img_width }}"
                            height="{{ img_height }}"
                            loading="lazy"
                            style="max-height: 100px;"
                          >
                        </a>
                        <div class="d-inline-flex flex-column">
                          <span class="mb-1 h4">
                            <a href="{{ line_item.url }}" title="{{ line_item.product.title }}">{{ line_item.product.title }}</a>
                          </span>
                          {% unless line_item.product.has_only_default_variant %}
                            <span class="muted small">{{ line_item.variant.title }}</span>
                          {% endunless %}
                          {% unless line_item.properties == empty %}
                            <span class="muted">
                              {% for property in line_item.properties %}
                                {{ property.first }}: {{ property.last }}{% unless forloop.last %}, {% endunless %}
                              {% endfor %}
                            </span>
                          {% endunless %}
                          <div class="mt-2">
                              <ul
                                class="discounts list-unstyled mb-0 small muted"
                                role="list"
                                aria-label="{{ 'customer.order.discount' | t }}"
                              >
                                {%- for discount in line_item.line_level_discount_allocations -%}
                                  <li class="d-flex gap-3 align-items-center">
                                    {%- render 'icon-discount' -%}
                                    {{ discount.discount_application.title }}
                                  </li>
                                {%- endfor -%}
                              </ul>
                            </div>
                        </div>
                      </td>
                      <td class="text-center small">
                        {% if line_item.original_line_price != line_item.final_line_price %}
                          <span class="fw-bold">
                            {{ line_item.final_line_price | money }}
                          </span>
                          <span class="muted">
                            <s>{{ line_item.original_line_price | money }}</s>
                          </span>
                        {% else %}
                          <span class="fw-bold">
                            {{ line_item.original_line_price | money }}
                          </span>
                        {% endif %}
                      </td>
                      <td class="text-center d-flex justify-content-center">
                        {% render 'quantity-selector', line_item_key: line_item.key, line_item_quantity: line_item.quantity, line_item_title : line_item.title %}
                      </td>
                      <td class="text-center fw-bold small">
                        {{ line_item.line_price | money }}
                      </td>
                      <td class="text-center small">
                        <button
                          class="btn btn-link p-0"
                          type="button"
                          data-remove-line-item
                          data-line-item-key="{{ line_item.key }}"
                          onclick="onRemoveCartItem(this)"
                          aria-label="{{ 'cart.remove' | t }}"
                        >
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="16"
                            height="16"
                            viewBox="0 0 24 24"
                            fill="none"
                            stroke="currentColor"
                            stroke-width="2"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                          >
                            <polyline points="3 6 5 6 21 6"></polyline>
                            <path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path>
                            <line x1="10" y1="11" x2="10" y2="17"></line>
                            <line x1="14" y1="11" x2="14" y2="17"></line>
                          </svg>
                        </button>
                      </td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
          


          <div class="col">
            <div class="px-xl-8 h-100">
              <div id="cart-summary" class=" card p-10 rounded" style="background-color: var(--bs-body-bg-darken-3);">
                <h2 class="card-header border-0" style="--bs-card-cap-bg: ;">
                  Order Summary
                  <hr>
                </h2>
                <div class="card-body small">
                  <div id="cart-subtotal" class="d-flex justify-content-between mb-4">
                    <span class="muted"> Subtotal ({{ cart.item_count }} items): </span>
                    <span>{{ cart.original_total_price | money }}</span>
                  </div>
                  {% assign total_savings = 0 %}

                  {% for item in cart.items %}
                    {% if item.original_line_price > item.final_line_price %}
                      {% assign item_savings = item.original_line_price | minus: item.final_line_price %}
                      {% assign total_savings = total_savings | plus: item_savings %}
                    {% endif %}
                  {% endfor %}
                  
                  {% if total_savings > 0 %}
                    <p id="cart-savings" class="d-flex justify-content-between mb-4">
                      <span class="muted">Savings:</span>
                      <span style="color: #F03D3D;">-{{ total_savings | money }}</span>
                    </p>
                  {% endif %}
                  
                  <p class="d-flex justify-content-between mb-4">
                    <span class="muted">Shipping:</span>
                    <span>Calculated at checkout</span>
                  </p>                  
                  <hr>
                  
                  <p class="d-flex justify-content-between align-items-center mb-4">
                    <span class="muted">Estimated total:</span>
                    <b class="fs-lg-7 fs-6">{{ cart.items_subtotal_price | money }}</b>
                  </p>

                  <form action="{{ routes.cart_url }}" class="mt-8" method="post">
                    <button
                      class="btn-checkout btn btn-primary w-100 btn-lg py-6 fs-6 d-flex align-items-center justify-content-center"
                      name="checkout"
                      type="submit"
                      onclick="onClickCheckoutBtn(this)"
                    >
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        class="me-3"
                        width="18"
                        height="18"
                        viewBox="0 0 24 24"
                        fill="none"
                        stroke="currentColor"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      >
                        <rect x="3" y="11" width="18" height="11" rx="2" ry="2"></rect><path d="M7 11V7a5 5 0 0 1 10 0v4"></path>
                      </svg>
                     Proceed to checkout
                    </button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      {% endif %}
    </div>
  </div>
</div>

{% schema %}
{
    "name": "Cart",
    "settings": [
        {
            "type": "header",
            "content": "General"
        },
        {
        "type": "color_scheme",
        "label": "Color scheme",
        "id": "color_scheme"
        },
        {
        "type": "select",
        "label": "Image orientation",
        "default": "square",
        "options": [
          { "label": "Adapt", "value": ""},
          { "label": "Landscape", "value": "landscape"},
          {"label": "Wide landscape", "value": "wide"},
          {"label": "Portrait", "value": "portrait"},
          {"label": "Square", "value": "square"}
        ],
        "id": "aspect_ratio"
      },
        {
            "type": "checkbox",
            "id": "show_note",
            "label": "Show note input",
            "default": true
        },
        {
            "type": "checkbox",
            "id": "show_shipping_rates",
            "label": "Show 'Shipping rates' feature",
            "default": true
        },
        {
            "type": "checkbox",
            "id": "cart_show_terms_checkbox",
            "label": "Show 'Accept terms' checkbox",
            "default": true
        },
        {
            "type": "checkbox",
            "id": "show_testimonials",
            "label": "Show testimonials",
            "default": true
        },
        {
            "type": "checkbox",
            "id": "min_order",
            "label": "Enable min-order feature",
            "default": true
        },
        {
            "type": "header",
            "content": "Product"
        },
        {
            "type": "select",
            "id": "product_img_orientation",
            "label": "Image orientation",
            "default": "square",
            "options": [
                { "value": "square", "label": "Square" },
                { "value": "landscape", "label": "Landscape" },
                { "value": "potrait", "label": "Potrait" }
            ]
        },
        {
            "type": "select",
            "id": "product_img_thumbnail",
            "label": "Image thumbnail",
            "default": "img-thumbnail",
            "options": [
                { "value": "", "label": "None" },
                { "value": "img-thumbnail", "label": "Thumbnail" }
            ]
        },
        {
            "type": "select",
            "id": "product_title_size",
            "label": "Title size",
            "default": "h6",
            "options": [
                { "value": "h1", "label": "H1" },
                { "value": "h2", "label": "H2" },
                { "value": "h3", "label": "H3" },
                { "value": "h4", "label": "H4" },
                { "value": "h5", "label": "H5" },
                { "value": "h6", "label": "H6" }
            ]
        },
        {
            "type": "header",
            "content": "Spacing"
        },
        {
            "type": "range",
            "id": "pt",
            "label": "Padding top",
            "min": 0,
            "max": 20,
            "step": 1,
            "default": 0
        },
        {
            "type": "range",
            "id": "pb",
            "label": "Padding bottom",
            "min": 0,
            "max": 20,
            "step": 1,
            "default": 0
        },
        {
            "type": "range",
            "id": "mt",
            "label": "Margin top",
            "min": 0,
            "max": 20,
            "step": 1,
            "default": 0
        },
        {
            "type": "range",
            "id": "mb",
            "label": "Margin bottom",
            "min": 0,
            "max": 20,
            "step": 1,
            "default": 0
        }
    ],
    "templates": ["cart"],
    "presets": [
        {
            "name": "Cart",
            "category": "Cart"
        }
    ]
}
{% endschema %}
