{% liquid

  unless section.settings.main_image == blank
    assign image = section.settings.main_image
  endunless

  unless section.settings.video == blank
    assign video = section.settings.video
  endunless

  unless section.settings.background_image == blank
    assign bgImage = section.settings.background_image | image_url: width: 1920
  endunless

  assign column_width = section.settings.column_width
  if column_width == 'col-lg-8'
    assign column_width_difference = 'col-lg-4'
  elsif column_width == 'col-lg-4'
    assign column_width_difference = 'col-lg-8'
  else
    assign column_width_difference = ''
  endif

  assign color_scheme_class = 'color-' | append: section.settings.color_scheme

  assign equal_height = section.settings.equal_column_height
%}

<section
  id="media-with-text-{{ section.id }}"
  class="
    enter-view overflow-hidden position-relative overflow-hidden {% if section.settings.visibility == 'd-block' %}d-flex {% else %} {{section.settings.visibility }} {% endif %}
    {% if customer and section.settings.showTo == 'guest' %}
        d-none
    {% elsif section.settings.showTo == 'customer' %}
        {% unless customer %}
            d-none
        {% endunless %}
    {% endif %}
    justify-content-center {{ section.settings.background_color }} pt-{{ section.settings.pt }} pb-{{ section.settings.pb }}
    mt-{{ section.settings.mt }} mb-{{ section.settings.mb }} {{ color_scheme_class }}
  "
>
  {% if bgImage %}
    <img
      class="background position-absolute top-0 left-0 w-100 h-100 object-fit-cover z-n1 rounded-0"
      src="{{ bgImage }}"
      alt="{{ bgImage.alt }}"
    >
  {% endif %}

  <div class="{{ section.settings.container }}">
    <div class="row row-cols-lg-2 row-cols-1 gx-lg-8 gy-8 gy-lg-0 {{section.settings.desktop_image_side}}">
      <div
        class="col rounded {{ section.settings.column_width }} main-image {% unless section.settings.animation == '' %}animate__animated {{ section.settings.animation_speed }}
          {% endunless %} d-flex align-items-center justify-content-center has-image"
        data-animate-class="{{ section.settings.animation }}"
        style="animation-delay: 0ms;"
      >
        {% if section.settings.main_image == blank %}
          {{ 'detailed-apparel-1' | placeholder_svg_tag: 'h-100 w-100' }}
        {% elsif section.settings.main_image and section.settings.video == blank %}
          <div class="image-wrapper rounded overflow-hidden {% if equal_height %}h-100{% endif %}">
            <img
              class="img-fluid object-fit-cover zoom-on-hover {% if section.settings.image_orientation == 'circle' %}rounded-circle{% endif %} w-100 {% if equal_height %}h-100{% endif %}"
              src="{{ image | image_url: width: image.width, height: height.width }}"
              alt="{{ image.alt | escape }}"
              width="{{ image.width  }}"
              height="{{ image.height }}"
              loading="lazy"
            >
          </div>
        {% elsif section.settings.video %}
          <div
            class="video-wrapper w-100 {% if equal_height %}h-100{% endif %} position-relative rounded {% unless section.settings.animation == '' %}animate__animated animate__faster {% endunless %}
            has-image overflow-hidden"
            data-animate-class="{{ section.settings.animation }}"
            style="animation-delay: 0ms"
          >
          
            {% assign video_class = 'w-100 position-relative rounded' %}

            {% if equal_height %}
              {% assign video_class = video_class |  append: ' h-100 object-fit-cover' %}
            {% endif %}

            {% assign classes = 'd-block w-100 object-fit-cover zoom-on-hover' %}
            {% assign preview_image = section.settings.video.preview_image | image_url: width: section.settings.video.preview_image.width |  image_tag: loading: 'lazy', class: classes %}
            {{
              section.settings.video
              | video_tag:
                class: video_class,
                image_size: '800x',
                loop: true,
                muted: true,
                preload: 'none',
                controls: false,
                playsinline: true
            }}
            {% comment %}
              
            {{ preview_image }}
            {% endcomment %}
            {% render 'play-button' %}
          </div>
        {% endif %}
      </div>

      <div class="image-with-text-content col {{ column_width_difference }}">
        <div class="block rounded {{ section.settings.text_alignment }} d-flex flex-column gap-4 justify-content-center p-10 {% if equal_height %}h-100{% endif %}">
      {% for block in section.blocks %}
          <div
            class="{% unless section.settings.animation == '' %}animate__animated opacity-0 {{ section.settings.animation_speed }}{% endunless %}"
            data-animate-class="{{ section.settings.animation }}"
            style="animation-delay: {{ forloop.index | times: 150 }}ms;"
          >
            {% case block.type %}
              {% when 'richtext' %}
                {% assign rich_fs_mobile = 'fs-' | append: block.settings.richtext_font_size_mobile %}
                {% assign rich_fs_desktop = 'fs-lg-' | append: block.settings.richtext_font_size_desktop %}
                <div class="{{ rich_fs_desktop }} {{ rich_fs_mobile }}" {{ block.shopify_attributes }}>
                  {{ block.settings.richtext }}
                </div>
              {% when 'paragraph' %}
                {% assign subheader_fs_mobile = 'fs-' | append: block.settings.subheader_font_size_mobile %}
                {% assign subheader_fs_desktop = 'fs-lg-' | append: block.settings.subheader_font_size_desktop %}
                <h2
                  class="{{ subheader_fs_desktop }} {{subheader_fs_mobile}} text-uppercase  {% if block.settings.font_weight %} fw-normal {% endif %}"
                  {{ block.shopify_attributes }}
                >
                  {{ block.settings.subheader }}
                </h2>
              {% when 'header' %}
                {% assign title_fs_mobile = 'fs-' | append: block.settings.title_font_size_mobile %}
                {% assign title_fs_desktop = 'fs-lg-' | append: block.settings.title_font_size_desktop %}
                <h3 class="{{ title_fs_desktop}} {{title_fs_mobile}}" {{ block.shopify_attributes }}>
                  {{ block.settings.title }}
                </h3>
              {% when 'url' %}
                {% liquid
                assign p-btn-text = block.settings.p-btn-text
                assign p-btn-type = block.settings.p-btn-type
                assign p-btn-url = block.settings.p-btn-url
                assign s-btn-text = block.settings.s-btn-text
                assign s-btn-type = block.settings.s-btn-type
                assign s-btn-url = block.settings.s-btn-url
              %}
              <div class="btn-wrapper d-flex gap-6">
                {% unless p-btn-text == blank %}
                  <a href="{{ p-btn-url }}" class="btn rounded {{ p-btn-type }}">
                    {{ p-btn-text }}
                  </a>
                {% endunless %}  
              
                {% unless s-btn-text == blank %}
                  <a href="{{ s-btn-url }}" class="btn rounded {{ s-btn-type }}">
                    {{ s-btn-text }}
                  </a>
                {% endunless %}
              </div>
              {% else %}
                {% render 'icon-with-text',
                  icon: block.settings.icon,
                  icon_size: block.settings.icon_size,
                  icon_color: block.settings.icon_color,
                  svg_url: block.settings.svg_url,
                  title: block.settings.title,
                  description: block.settings.description,
                  title_font_size_mobile: block.settings.title_font_size_mobile,
                  title_font_size_desktop: block.settings.title_font_size_desktop,
                  description_font_size_mobile: block.settings.description_font_size_mobile,
                  description_font_size_desktop: block.settings.description_font_size_desktop,
                  orientation: block.settings.icon_orientation,
                  text_alignment: block.settings.text_alignment,
                  border: block_border,
                  shopify_attributes: block.shopify_attributes,
                  height: ''
                %}
            {% endcase %}
          </div>
        {% endfor %}
        </div>
        </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Media with text",
  "settings": [
    {
      "type": "header",
      "content": "Visibility"
    },
    {
      "type": "select",
      "label": "Visibile on",
      "id": "visibility",
      "default": "d-flex",
      "options": [
        {
          "value": "d-flex",
          "label": "All screen sizes"
        },
        {
          "value": "d-sm-none d-lg-flex",
          "label": "On desktop only"
        },
        {
          "value": "d-lg-none d-sm-flex",
          "label": "On mobile only"
        }
      ]
    },
    {
      "type": "select",
      "label": "Visibile to",
      "id": "showTo",
      "default": "everyone",
      "info": "If you're not logged in within the customizer and you've chosen display to customers, it will not show within customizer.",
      "options": [
        {
          "label": "Logged in",
          "value": "customer"
        },
        {
          "label": "Guests only",
          "value": "guest"
        },
        {
          "label": "Everyone",
          "value": "everyone"
        }
      ]

    },
    {
      "type": "color_scheme",
      "label": "Color scheme",
      "id": "color_scheme"
    },
    {
      "type": "image_picker",
      "label": "Background image",
      "id": "background_image",
      "info": "This image will override the background color in your color scheme."
    },
    {
      "type": "select",
      "id": "container",
      "label": "Width",
      "default": "container",
      "options": [
          { "value": "container", "label": "Default" },
          { "value": "container-fluid", "label": "Full width" }
      ]
    },
    {
      "type": "checkbox",
      "default": true,
      "id": "equal_column_height",
      "label": "Enable equal column heights",
      "info": "Will stretch image/video to match content height"
    },
    {
      "type": "header",
      "content": "Image settings"
    },
    {
      "type": "image_picker",
      "label": "Main image",
      "id": "main_image"
    },
    {
      "type": "select",
      "id": "image_orientation",
      "label": "Image orientation",
      "default": "adapt",
      "options": [
        { "value": "square", "label": "Square" },
        { "value": "landscape", "label": "Landscape" },
        { "value": "portrait", "label": "Portrait" },
        { "value": "circle", "label": "Circle" },
        { "value": "adapt", "label": "Adapt"}
      ],
      "info": "Applies once a collection or image is selected."
    },
    {
      "type": "header",
      "content": "Video settings"
    },
    {
      "type": "video",
      "label": "Video instead of image",
      "id": "video",
      "info": "When selected, overrides any image settings."
    },
    {
      "type": "select",
      "id": "column_width",
      "label": "Image width",
      "options": [
        {"label": "1/2", "value": "default"}, {"label": "2/3", "value": "col-lg-8"}, {"label": "1/3", "value": "col-lg-4"}
      ],
      "default": "default"
    },
    {
      "type": "header",
      "content": "Alignment"
    },
    {
      "type": "select",
      "label": "Text alignment",
      "id": "text_alignment",
      "default": "text-start",
      "options": [
        {
          "label": "Align left",
          "value": "text-start"
        },
        {
          "label": "Align center",
          "value": "text-center"
        },
        {
          "label": "Align right",
          "value": "text-end"
        }
      ]
    },
    {
    "type": "select",
    "label": "Desktop image/video position",
    "id": "desktop_image_side",
    "default": "flex-lg-row",
    "options": [
      {
        "label": "Left",
        "value": "flex-lg-row"
      },
      {
        "label": "Right",
        "value": "flex-lg-row-reverse"
      }
    ]
  },
    {
      "type": "select",
      "id": "animation",
      "label": "Animation",
      "default": "animate__fadeInUp",
      "options": [
        { "group": "Disabled", "value": "", "label": "No animation" },
        { "group": "Fade", "value": "animate__fadeIn", "label": "Fade In" },
        {
          "group": "Fade",
          "value": "animate__fadeInDown",
          "label": "Fade-in-down"
        },
        {
          "group": "Fade",
          "value": "animate__fadeInLeft",
          "label": "Fade-in-left"
        },
        {
          "group": "Fade",
          "value": "animate__fadeInRight",
          "label": "Fade-in-right"
        },
        {
          "group": "Fade",
          "value": "animate__fadeInUp",
          "label": "Fade-in-up"
        },
        { "group": "Zoom", "value": "animate__zoomIn", "label": "Zoom-in" },
        {
          "group": "Zoom",
          "value": "animate__zoomInDown",
          "label": "Zoom-in-down"
        },
        {
          "group": "Zoom",
          "value": "animate__zoomInLeft",
          "label": "Zoom-in-left"
        },
        {
          "group": "Zoom",
          "value": "animate__zoomInRight",
          "label": "Zoom-in-right"
        },
        {
          "group": "Zoom",
          "value": "animate__zoomInUp",
          "label": "Zoom-in-up"
        },
        {
          "group": "Back",
          "value": "animate__backInDown",
          "label": "Back-in-down"
        },
        {
          "group": "Back",
          "value": "animate__backInLeft",
          "label": "Back-in-left"
        },
        {
          "group": "Back",
          "value": "animate__backInRight",
          "label": "Back-in-right"
        },
        {
          "group": "Back",
          "value": "animate__backInUp",
          "label": "Back-in-up"
        },
        {
          "group": "Bounce",
          "value": "animate__bounceIn",
          "label": "Bounce-in"
        },
        {
          "group": "Bounce",
          "value": "animate__bounceInDown",
          "label": "Bounce-in-down"
        },
        {
          "group": "Bounce",
          "value": "animate__bounceInLeft",
          "label": "Bounce-in-left"
        },
        {
          "group": "Bounce",
          "value": "animate__bounceInRight",
          "label": "Bounce-in-right"
        },
        {
          "group": "Bounce",
          "value": "animate__bounceInUp",
          "label": "Bounce-in-up"
        },
        {
          "group": "LightSpeed",
          "value": "animate__lightSpeedInLeft",
          "label": "LightSpeed-in-left"
        },
        {
          "group": "LightSpeed",
          "value": "animate__lightSpeedInRight",
          "label": "LightSpeed-in-right"
        }
      ]
    },
    {
      "type": "select",
      "id": "animation_speed",
      "label": "Animation speed",
      "default": "animate__slow",
      "options": [
        { "value": "animate__slower", "label": "Slower" },
        { "value": "animate__slow", "label": "Slow" },
        { "value": "", "label": "Normal" },
        { "value": "animate__fast", "label": "Fast" },
        { "value": "animate__faster", "label": "Faster" }
      ]
    },
    {
          "type": "header",
          "content": "Section spacing"
      },
      {
          "type": "range",
          "id": "pt",
          "label": "Padding top",
          "min": 0,
          "max": 20,
          "step": 1,
          "default": 10
      },
      {
          "type": "range",
          "id": "pb",
          "label": "Padding bottom",
          "min": 0,
          "max": 20,
          "step": 1,
          "default": 10
      },
      {
          "type": "range",
          "id": "mt",
          "label": "Margin top",
          "min": 0,
          "max": 20,
          "step": 1,
          "default": 0
      },
      {
          "type": "range",
          "id": "mb",
          "label": "Margin bottom",
          "min": 0,
          "max": 20,
          "step": 1,
          "default": 0
      }
  ],
  "blocks": [
    {
      "name": "Heading",
      "type": "header",
      "limit": 1,
      "settings": [

          {
          "type": "range",
          "id": "title_font_size_mobile",
          "label": "Title font-size | mobile",
          "min": 1,
          "max": 12,
          "step": 1,
          "default": 5
      },
      {
          "type": "range",
          "id": "title_font_size_desktop",
          "label": "Title font-size | desktop",
          "min": 1,
          "max": 12,
          "step": 1,
          "default": 7
      },
      {
        "type": "inline_richtext",
        "label": "Heading",
        "id": "title"
      }
      ]
    },
    {
      "type": "richtext",
      "name": "Richtext",
      "settings": [

          {
          "type": "range",
          "id": "richtext_font_size_mobile",
          "label": "Description font-size | mobile",
          "min": 1,
          "max": 12,
          "step": 1,
          "default": 5
      },
      {
          "type": "range",
          "id": "richtext_font_size_desktop",
          "label": "Description font-size | desktop",
          "min": 1,
          "max": 12,
          "step": 1,
          "default": 7
      },
      {
        "type": "richtext",
        "label": "Richtext",
        "id": "richtext"
      }
      ]
    },
    {
      "type": "paragraph",
      "name": "Subheader",
      "limit": 1,
      "settings": [
          {
          "type": "range",
          "id": "subheader_font_size_mobile",
          "label": "Subheader font-size | mobile",
          "min": 1,
          "max": 12,
          "step": 1,
          "default": 3

      },
      {
          "type": "range",
          "id": "subheader_font_size_desktop",
          "label": "Subheader font-size | desktop",
          "min": 1,
          "max": 12,
          "step": 1,
          "default": 5
      },
      {
        "type": "text",
        "label": "Subheader",
        "id": "subheader"
      },
      {
        "type": "checkbox",
        "label": "Enable normal font weight",
        "id": "font_weight",
        "default": false
      }
      ]
    },
    {
      "name": "Buttons",
      "type": "url",
      "limit": 1,
      "settings": [
        {
          "type": "header",
          "content": "Primary Button"
        },
        {
          "type": "url",
          "id": "p-btn-url",
          "label": "URL"
        },
        {
          "type": "text",
          "label": "Button label",
          "id": "p-btn-text",
          "default": "Primary button"
        },
        {
          "type": "select",
          "id": "p-btn-type",
          "label": "Button style",
          "options": [
            {
              "group": "Primary", "label": "Fill", "value": "btn-primary"
            },
            {
              "group": "Primary", "label": "Outline", "value": "btn-outline-primary"
            },
            {
              "group": "Secondary", "label": "Fill", "value": "btn-secondary"
            },
            {
              "group": "Secondary", "label": "Outline", "value": "btn-outline-secondary"
            }
          ],
          "default": "btn-primary"
        },
        {
          "type": "header",
          "content": "Secondary Button"
        },
        {
          "type": "url",
          "id": "s-btn-url",
          "label": "URL"
        },
        {
          "type": "text",
          "label": "Button label",
          "id": "s-btn-text",
          "default": "Secondary button"
        },
        {
          "type": "select",
          "id": "s-btn-type",
          "label": "Button style",
          "options": [
            {
              "group": "Primary", "label": "Fill", "value": "btn-primary"
            },
            {
              "group": "Primary", "label": "Outline", "value": "btn-outline-primary"
            },
            {
              "group": "Secondary", "label": "Fill", "value": "btn-secondary"
            },
            {
              "group": "Secondary", "label": "Outline", "value": "btn-outline-secondary"
            }
          ],
          "default": "btn-secondary"
        },
      ]
    },
    {
          "type": "icon_text",
          "name": "Icon with Text",
          "settings": [
            {
          "type": "select",
          "id": "icon_orientation",
          "label": "Icons Orientation",
          "default": "flex-row",
          "options": [
              {
                  "value": "flex-column",
                  "label": "Vertical (column)"
              },
              {
                  "value": "flex-row",
                  "label": "Horizontal (row)"
              }
          ]
      },
      {
          "type": "select",
          "id": "text_alignment",
          "label": "Text Alignment",
          "default": "left align-items-start",
          "options": [
              {
                  "value": "left align-items-start",
                  "label": "Left"
              },
              {
                  "value": "center align-items-center",
                  "label": "Center"
              }
          ]
      },
      {
          "type": "range",
          "id": "icon_size",
          "label": "Icon Size",
          "min": 10,
          "max": 100,
          "step": 1,
          "default": 50
      },
          {
              "type": "select",
              "id": "icon",
              "label": "Icon",
              "default": "question_mark",
              "options": [
                  { "value": "none", "label": "None" },
                  { "value": "apple", "label": "Apple" },
                  { "value": "banana", "label": "Banana" },
                  { "value": "bottle", "label": "Bottle" },
                  { "value": "box", "label": "Box" },
                  { "value": "carrot", "label": "Carrot" },
                  { "value": "chat_bubble", "label": "Chat Bubble" },
                  { "value": "check_mark", "label": "Check Mark" },
                  { "value": "clipboard", "label": "Clipboard" },
                  { "value": "dairy", "label": "Dairy" },
                  { "value": "dairy_free", "label": "Dairy Free" },
                  { "value": "dryer", "label": "Dryer" },
                  { "value": "eye", "label": "Eye" },
                  { "value": "fire", "label": "Fire" },
                  { "value": "gluten_free", "label": "Gluten Free" },
                  { "value": "heart", "label": "Heart" },
                  { "value": "iron", "label": "Iron" },
                  { "value": "leaf", "label": "Leaf" },
                  { "value": "leather", "label": "Leather" },
                  { "value": "lightning_bolt", "label": "Lightning Bolt" },
                  { "value": "lipstick", "label": "Lipstick" },
                  { "value": "lock", "label": "Lock" },
                  { "value": "map_pin", "label": "Map Pin" },
                  { "value": "nut_free", "label": "Nut Free" },
                  { "value": "pants", "label": "Pants" },
                  { "value": "paw_print", "label": "Paw Print" },
                  { "value": "pepper", "label": "Pepper" },
                  { "value": "perfume", "label": "Perfume" },
                  { "value": "plane", "label": "Plane" },
                  { "value": "plant", "label": "Plant" },
                  { "value": "price_tag", "label": "Price Tag" },
                  { "value": "question_mark", "label": "Question Mark" },
                  { "value": "recycle", "label": "Recycle" },
                  { "value": "return", "label": "Return" },
                  { "value": "ruler", "label": "Ruler" },
                  { "value": "serving_dish", "label": "Serving Dish" },
                  { "value": "shirt", "label": "Shirt" },
                  { "value": "shoe", "label": "Shoe" },
                  { "value": "silhouette", "label": "Silhouette" },
                  { "value": "snowflake", "label": "Snowflake" },
                  { "value": "star", "label": "Star" },
                  { "value": "stopwatch", "label": "Stopwatch" },
                  { "value": "truck", "label": "Truck" },
                  { "value": "washing", "label": "Washing" }
                ]
              },
              {
                  "type": "color",
                  "id": "icon_color",
                  "label": "Icon color",
                  "default": "#000000"
              },
              {
                  "type": "html",
                  "id": "svg_url",
                  "label": "SVG URL"
              },
              {
                  "type": "text",
                  "id": "title",
                  "label": "Title",
                  "default": "Title"
              },
              {
                "type": "range",
                "id": "title_font_size_mobile",
                "label": "Title font-size | mobile",
                "min": 1,
                "max": 12,
                "step": 1,
                "default": 5
            },
            {
                "type": "range",
                "id": "title_font_size_desktop",
                "label": "Title font-size | desktop",
                "min": 1,
                "max": 12,
                "step": 1,
                "default": 7
            },
              {
                  "type": "textarea",
                  "id": "description",
                  "label": "Description",
                  "default": "Short description goes here."
              },
              {
                "type": "range",
                "id": "description_font_size_mobile",
                "label": "Description font-size | mobile",
                "min": 1,
                "max": 12,
                "step": 1,
                "default": 5
            },
            {
                "type": "range",
                "id": "description_font_size_desktop",
                "label": "Description font-size | desktop",
                "min": 1,
                "max": 12,
                "step": 1,
                "default": 7
            }
          ]
      }
  ],
  "presets": [
{
  "name": "Image with text",
  "category": "Image",
  "settings": {
    "image_orientation": "landscape",
    "visibility": "d-flex",
    "animation": "animate__fadeInUp"
  },
  "blocks": [
    {
      "type": "paragraph",
      "settings": {
        "subheader": "Enter your subheader here",
        "subheader_font_size_desktop": 7,
        "subheader_font_size_mobile": 6

      }
    },
    {
      "type": "header",
      "settings": {
        "title": "Header",
        "title_font_size_mobile": 8,
        "title_font_size_desktop": 10
      }
    },
    {
      "type" : "richtext",
      "settings": {
        "richtext" : "<p>Use this space to introduce your brand to your customers. Describe what you sell, share your company's history, or connect with your audience. Tell visitors about your journey and what sets you apart  from others. Encourage them to browse your products and explore what you have to offer. </p>",
        "richtext_font_size_desktop": 5,
        "richtext_font_size_mobile": 5

      }
    }
  ]
}
]

}
{% endschema %}
