{% liquid
    case settings.offcanvas_img_orientation
        when 'square'
            assign img_width  = 600
            assign img_height = 600
        when 'landscape'
            assign img_width  = 600
            assign img_height = 480
        when 'potrait'
            assign img_width  = 480
            assign img_height = 600
    endcase
%}

{% if predictive_search.performed %}
    <div id="predictive-search-results" class="my-6">
        {% if predictive_search.resources.products.size > 0 %}
            <h3 id="predictive-search-products" class="predictive-search-results-title h5 mb-4 text-uppercase">
                {{ 'general.offcanvas_search.title_products' | t }}
            </h3>
            <ul id="predictive-search-results-product-list" class="product-list list-unstyled row g-4 mb-5">
                {% for product in predictive_search.resources.products %}
                    <li class="col-md-6 col-lg-4 product-item">
                        <div class="card h-100 border-0 shadow-sm rounded">
                            <a href="{{ product.url }}" class="d-block position-relative">
                                <img class="product-item-img img-fluid rounded-top {{ settings.offcanvas_img_thumbnail }}"
                                    src="{{ product.featured_image | image_url: width: img_width, height: img_height, crop: 'center' }}"
                                    alt="{{ product.featured_image.alt }}"
                                    width="{{ img_width }}"
                                    height="{{ img_height }}"
                                    loading="lazy">
                            </a>
                            <div class="card-body">
                                <h4 class="product-item-title h6 mb-2 {{ settings.search_title_truncate }}">
                                    <a href="{{ product.url }}" class="text-decoration-none">
                                        {{ product.title }}
                                    </a>
                                </h4>
                                <p class="product-item-price small mb-2">
                                    {% if product.first_available_variant.compare_at_price > product.price %}
                                        <span class="product-item-price-compare muted me-2">
                                            <s>{{ product.first_available_variant.compare_at_price | money }}</s>
                                        </span>
                                        <span class="product-item-price-final text-primary">
                                            {{ product.first_available_variant.price | money }}
                                        </span>
                                    {% else %}
                                        <span class="product-item-price-final text-primary">
                                            {{ product.first_available_variant.price | money }}
                                        </span>
                                    {% endif %}
                                </p>
                                {% if settings.search_show_atc_form %}
                                    <div class="form-wrapper">
                                        {% form 'product', product, onsubmit: 'onSubmitAtcForm(this, event)' %}
                                            <div class="d-flex align-items-center">
                                                {% if product.has_only_default_variant %}
                                                    <input type="hidden" name="id" value="{{ product.first_available_variant.id }}">
                                                {% else %}
                                                    <select class="form-select form-select-sm w-100 me-2" name="id" 
                                                            aria-label="{{ 'product.select_variant' | t }}" 
                                                            onchange="onChangeProductItemVariant(this, event)">
                                                        {% for variant in product.variants %}
                                                            <option value="{{ variant.id }}"
                                                                    data-compare-at-price="{{ variant.compare_at_price }}"
                                                                    data-price="{{ variant.price }}">
                                                                {{ variant.title }}
                                                            </option>
                                                        {% endfor %}
                                                    </select>
                                                {% endif %}
                                                <button class="btn btn-sm btn-primary px-4" type="submit" name="add"
                                                        onclick="closeSearchOffcanvas(this, event)"
                                                        {% unless product.available %}disabled{% endunless %}>
                                                    {% if product.available %}
                                                        {{ 'product.add' | t }}
                                                    {% else %}
                                                        {{ 'product.sold_out' | t }}
                                                    {% endif %}
                                                </button>
                                            </div>
                                        {% endform %}
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
        
        {% if settings.search_collections and predictive_search.resources.collections.size > 0 %}
            <h3 id="predictive-search-collections" class="predictive-search-results-title h5 mb-4 text-uppercase">
                {{ 'general.offcanvas_search.title_collections' | t }}
            </h3>
            <ul id="predictive-search-results-collection-list" class="collection-list list-unstyled row g-4 mb-5">
                {% for collection in predictive_search.resources.collections %}
                    <li class="col-md-6 col-lg-4 collection-item">
                        <div class="card h-100 border-0 shadow-sm rounded">
                            <a href="{{ collection.url }}" class="btn btn-outline-secondary w-100 py-3">
                                {{ collection.title }} ({{ collection.products_count }})
                            </a>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
        
        {% if settings.search_pages and predictive_search.resources.pages.size > 0 %}
            <h3 id="predictive-search-pages" class="predictive-search-results-title h5 mb-4 text-uppercase">
                {{ 'general.offcanvas_search.title_pages' | t }}
            </h3>
            <ul id="predictive-search-results-page-list" class="page-list list-unstyled row g-4 mb-5">
                {% for page in predictive_search.resources.pages %}
                    <li class="col-md-6 col-lg-4 page-item">
                        <a href="{{ page.url }}" class="btn btn-outline-secondary w-100 py-3">
                            {{ page.title }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
        
        {% if settings.search_articles and predictive_search.resources.articles.size > 0 %}
            <h3 id="predictive-search-articles" class="predictive-search-results-title h5 mb-4 text-uppercase">
                {{ 'general.offcanvas_search.title_articles' | t }}
            </h3>
            <ul id="predictive-search-results-article-list" class="articles-list list-unstyled row g-4 mb-5">
                {% for article in predictive_search.resources.articles %}
                    <li class="col-md-6 col-lg-4 article-item">
                        <div class="card h-100 border-0 shadow-sm rounded">
                            <a href="{{ article.url }}" class="text-decoration-none">
                                <div class="card-img-top position-relative">
                                    <img class="img-fluid rounded-top" 
                                         src="{{ article.image.src | image_url: width: 480, height: 480 }}"
                                         alt="{{ article.image.alt | escape }}"
                                         width="480"
                                         height="480"
                                         loading="lazy">
                                </div>
                                <div class="card-body">
                                    <h4 class="card-title h6 mb-2">{{ article.title }}</h4>
                                    <p class="article-meta muted small">
                                        {{ article.author }} @ {{ article.created_at | time_tag: '%b %d, %Y' }}
                                    </p>
                                </div>
                            </a>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
{% endif %}
