{% liquid
assign color_scheme_class = 'color-' | append: section.settings.color_scheme
assign pt = section.settings.pt | prepend: 'pt-'
assign pb = section.settings.pb | prepend: 'pb-'
assign mt = section.settings.mt | prepend: 'mt-'
assign mb = section.settings.mb | prepend: 'mb-'
%}

<section class="rich-text enter-view {{pt}} {{pb}} {{mt}} {{mb}} {{ color_scheme_class }}" id="rich-text-{{ section.id }}">
    <div class="{{ section.settings.container }} {{ section.settings.text_align }}">
        {% for block in section.blocks %}
            <div id="block-{{ block.id }}">
                {% if block.type == 'subheader' %}
                    <h4 class="{% unless section.settings.animation == '' %}animate__animated opacity-0 {{ section.settings.animation_speed }}{% endunless %} mb-4 fs-{{ block.settings.mobile_subheading_font_size }} fs-lg-{{ block.settings.desktop_subheading_font_size }} 
                    {% unless section.settings.animation == '' %}animate__animated opacity-0 {{ section.settings.animation_speed }}{% endunless %}" 
                    data-animate-class="{{ section.settings.animation }}" style="animation-delay: {{ forloop.index | times: 150 }}ms;"{{ block.shopify_attributes }}>
                        {{ block.settings.subheader }}
                    </h4>
                {% elsif block.type == 'heading' %}
                    <h2 class="{% unless section.settings.animation == '' %}animate__animated opacity-0 {{ section.settings.animation_speed }}{% endunless %} mb-5 fs-{{ block.settings.mobile_heading_font_size }} fs-lg-{{ block.settings.desktop_heading_font_size }}" 
                    data-animate-class="{{ section.settings.animation }}" style="animation-delay: {{ forloop.index | times: 150 }}ms;" {{ block.shopify_attributes }}>
                        {{ block.settings.heading }}
                    </h2>
                {% elsif block.type == 'description' %}
                    <p class="{% unless section.settings.animation == '' %}animate__animated opacity-0 {{ section.settings.animation_speed }}{% endunless %} mb-5 fs-{{ block.settings.mobile_paragraph_font_size }} fs-lg-{{ block.settings.desktop_paragraph_font_size }}" 
                    data-animate-class="{{ section.settings.animation }}" style="animation-delay: {{ forloop.index | times: 150 }}ms;"{{ block.shopify_attributes }}>
                        {{ block.settings.paragraph | strip_html }}
                    </p>
                {% else  %}
                    {% liquid
                    assign p-btn-text = block.settings.p-btn-text
                    assign p-btn-type = block.settings.p-btn-type
                    assign p-btn-url = block.settings.p-btn-url
                    assign s-btn-text = block.settings.s-btn-text
                    assign s-btn-type = block.settings.s-btn-type
                    assign s-btn-url = block.settings.s-btn-url
                  %}
                  <div class="btn-wrapper d-flex gap-6">
                    {% unless p-btn-text == blank %}
                      <a href="{{ p-btn-url }}" class="btn rounded {{ p-btn-type }}">
                        {{ p-btn-text }}
                      </a>
                    {% endunless %}  
                  
                    {% unless s-btn-text == blank %}
                      <a href="{{ s-btn-url }}" class="btn rounded {{ s-btn-type }}">
                        {{ s-btn-text }}
                      </a>
                    {% endunless %}
                  </div>
               {% endif %}


            </div>
        {% endfor %}
    </div>
</section>

{% schema %}
{
  "name": "Rich Text",
  "settings": [
    {
      "type": "select",
      "label": "Container",
      "id": "container",
      "default": "container",
      "options": [
        { "value": "container", "label": "Container" },
        { "value": "container-fluid", "label": "Fluid" }
      ]
    },
    {
    "type": "color_scheme",
    "label": "Color scheme",
    "id": "color_scheme"
    },
    {
      "type": "select",
      "id": "animation",
      "label": "Animation",
      "default": "animate__fadeInUp",
      "options": [
        { "group": "Disabled", "value": "", "label": "No animation" },
        { "group": "Fade", "value": "animate__fadeIn", "label": "Fade In" },
        { "group": "Fade", "value": "animate__fadeInDown", "label": "Fade-in-down" },
        { "group": "Fade", "value": "animate__fadeInLeft", "label": "Fade-in-left" },
        { "group": "Fade", "value": "animate__fadeInRight", "label": "Fade-in-right" },
        { "group": "Fade", "value": "animate__fadeInUp", "label": "Fade-in-up" },
        { "group": "Zoom", "value": "animate__zoomIn", "label": "Zoom-in" },
        { "group": "Zoom", "value": "animate__zoomInDown", "label": "Zoom-in-down" },
        { "group": "Zoom", "value": "animate__zoomInLeft", "label": "Zoom-in-left" },
        { "group": "Zoom", "value": "animate__zoomInRight", "label": "Zoom-in-right" },
        { "group": "Zoom", "value": "animate__zoomInUp", "label": "Zoom-in-up" },
        { "group": "Back", "value": "animate__backInDown", "label": "Back-in-down" },
        { "group": "Back", "value": "animate__backInLeft", "label": "Back-in-left" },
        { "group": "Back", "value": "animate__backInRight", "label": "Back-in-right" },
        { "group": "Back", "value": "animate__backInUp", "label": "Back-in-up" },
        { "group": "Bounce", "value": "animate__bounceIn", "label": "Bounce-in" },
        { "group": "Bounce", "value": "animate__bounceInDown", "label": "Bounce-in-down" },
        { "group": "Bounce", "value": "animate__bounceInLeft", "label": "Bounce-in-left" },
        { "group": "Bounce", "value": "animate__bounceInRight", "label": "Bounce-in-right" },
        { "group": "Bounce", "value": "animate__bounceInUp", "label": "Bounce-in-up" },
        { "group": "LightSpeed", "value": "animate__lightSpeedInLeft", "label": "LightSpeed-in-left" },
        { "group": "LightSpeed", "value": "animate__lightSpeedInRight", "label": "LightSpeed-in-right" }
      ]
    },
    {
      "type": "select",
      "id": "animation_speed",
      "label": "Animation speed",
      "default": "animate__fast",
      "options": [
        { "value": "animate__slower", "label": "Slower" },
        { "value": "animate__slow", "label": "Slow" },
        { "value": "", "label": "Normal" },
        { "value": "animate__fast", "label": "Fast" },
        { "value": "animate__faster", "label": "Faster" }
      ]
    },
    {
      "type": "select",
      "id": "text_align",
      "label": "Text align",
      "default": "text-center",
      "options": [
        { "value": "text-start", "label": "Left" },
        { "value": "text-center", "label": "Center" },
        { "value": "text-end", "label": "Right" }
      ]
    },
    {
      "type": "range",
      "id": "pt",
      "label": "Padding Top",
      "min": 0,
      "max": 20,
      "step": 1,
      "default": 10
    },
    {
      "type": "range",
      "id": "pb",
      "label": "Padding Bottom",
      "min": 0,
      "max": 20,
      "step": 1,
      "default": 10
    },
    {
      "type": "range",
      "id": "mt",
      "label": "Margin Top",
      "min": 0,
      "max": 20,
      "step": 1,
      "default": 0
    },
    {
      "type": "range",
      "id": "mb",
      "label": "Margin Bottom",
      "min": 0,
      "max": 20,
      "step": 1,
      "default": 0
    }
  ],
  "blocks": [
    {
      "type": "subheader",
      "name": "Subheader",
      "settings": [
        {
          "type": "text",
          "id": "subheader",
          "label": "Subheader",
          "default": "Our Subheader"
        },
        {
          "type": "range",
          "label": "Subheading Font Size (Mobile)",
          "id": "mobile_subheading_font_size",
          "min": 1,
          "max": 12,
          "step": 1,
          "default": 4
        },
        {
          "type": "range",
          "label": "Subheading Font Size (Desktop)",
          "id": "desktop_subheading_font_size",
          "min": 1,
          "max": 12,
          "step": 1,
          "default": 6
        }
      ]
    },
    {
      "type": "heading",
      "name": "Heading",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "label": "Heading",
          "default": "Our Heading"
        },
        {
          "type": "range",
          "label": "Heading Font Size (Mobile)",
          "id": "mobile_heading_font_size",
          "min": 1,
          "max": 12,
          "step": 1,
          "default": 10
        },
        {
          "type": "range",
          "label": "Heading Font Size (Desktop)",
          "id": "desktop_heading_font_size",
          "min": 1,
          "max": 12,
          "step": 1,
          "default": 12
        }
      ]
    },
    {
      "type": "description",
      "name": "Description",
      "settings": [
        {
          "type": "textarea",
          "id": "paragraph",
          "label": "Description",
          "default": "<p>This is the description text.</p>"
        },
        {
          "type": "range",
          "label": "Paragraph Font Size (Mobile)",
          "id": "mobile_paragraph_font_size",
          "min": 1,
          "max": 12,
          "step": 1,
          "default": 5
        },
        {
          "type": "range",
          "label": "Paragraph Font Size (Desktop)",
          "id": "desktop_paragraph_font_size",
          "min": 1,
          "max": 12,
          "step": 1,
          "default": 8
        }
      ]
    },
    {
      "name": "Buttons",
      "type": "url",
      "limit": 1,
      "settings": [
        {
          "type": "header",
          "content": "Primary Button"
        },
        {
          "type": "url",
          "id": "p-btn-url",
          "label": "URL"
        },
        {
          "type": "text",
          "label": "Button label",
          "id": "p-btn-text",
          "default": "Primary button"
        },
        {
          "type": "select",
          "id": "p-btn-type",
          "label": "Button style",
          "options": [
            {
              "group": "Primary", "label": "Fill", "value": "btn-primary"
            },
            {
              "group": "Primary", "label": "Outline", "value": "btn-outline-primary"
            },
            {
              "group": "Secondary", "label": "Fill", "value": "btn-secondary"
            },
            {
              "group": "Secondary", "label": "Outline", "value": "btn-outline-secondary"
            }
          ],
          "default": "btn-primary"
        },
        {
          "type": "header",
          "content": "Secondary Button"
        },
        {
          "type": "url",
          "id": "s-btn-url",
          "label": "URL"
        },
        {
          "type": "text",
          "label": "Button label",
          "id": "s-btn-text",
          "default": "Secondary button"
        },
        {
          "type": "select",
          "id": "s-btn-type",
          "label": "Button style",
          "options": [
            {
              "group": "Primary", "label": "Fill", "value": "btn-primary"
            },
            {
              "group": "Primary", "label": "Outline", "value": "btn-outline-primary"
            },
            {
              "group": "Secondary", "label": "Fill", "value": "btn-secondary"
            },
            {
              "group": "Secondary", "label": "Outline", "value": "btn-outline-secondary"
            }
          ],
          "default": "btn-secondary"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Rich Text",
      "category": "Text",
      "blocks": [
        {
          "type": "subheader",
          "settings": {
            "subheader": "Our Subheader",
            "mobile_subheading_font_size": 4,
            "desktop_subheading_font_size": 6
          }
        },
        {
          "type": "heading",
          "settings": {
            "heading": "Our Heading",
            "mobile_heading_font_size": 8,
            "desktop_heading_font_size": 10
          }
        },
        {
          "type": "description",
          "settings": {
            "paragraph": "<p>This is the description text.</p>",
            "mobile_paragraph_font_size": 5,
            "desktop_paragraph_font_size": 8
          }
        },
        {
          "type": "url"
        }
      ]
    }
  ]
}
{% endschema %}
